name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  test-suite:
    strategy:
      matrix:
        task: [lint, test, build]
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.13.0

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run ${{ matrix.task }}
        run: |
          if [ "${{ matrix.task }}" == "test" ]; then
            pnpm test
          elif [ "${{ matrix.task }}" == "lint" ]; then
            pnpm lint:ci
          elif [ "${{ matrix.task }}" == "build" ]; then
            pnpm build
          fi
